{% extends 'base.html' %}
{% block content %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        let route_id = {
          id: {{ route_id }},
        };
        $.post('/route_info.json', route_id, function(result){
          waypoints = Object.keys(result)
          let first = waypoints[2]

          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center : {lat: parseFloat(result[first]['latitude']),
                      lng: parseFloat(result[first]['longitude'])}
          })

          let i = 0
          while (i < waypoints.length) {
            console.log(waypoints[i])
            var latitude = result[waypoints[i]]['latitude']
            var longitude = result[waypoints[i]]['longitude']
            var location = '<h1>' + result[waypoints[i]]['location'] + '</h1>'
            var website = '<a href=' + result[waypoints[i]]['description'] + '></a>'
            var photo = '<img src=' + result[waypoints[i]]['image_url'] + '>'
            var way_id = '<p>' + waypoints[i] + '</p>'
            var html_s = location + photo + website + way_id
            // marker windows require a string of html as input
            createMarkers(latitude, longitude, html_s)
            i++
          }  //end for loop
        })
      }

      // This function creates markers. Takes val(an object) as param
      function createMarkers(latitude, longitude, infoWindowHtml) {
        var myLatLng = new google.maps.LatLng(parseFloat(latitude),
                                              parseFloat(longitude))
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
        });
        var infowindow = new google.maps.InfoWindow({
          content: infoWindowHtml
        })
        // marker.addListener('click', showInfoWindow );
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCch6uBFfcByFshtBRcjLhS6LPBrz1lQog&callback=initMap"
    async defer></script>

    <!-- upload modal -->

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content" id="directions">
                <div class="modal-header mheader">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class='headertext'>Add directions</h4>
                </div>
                <div class="modal-body mbody">
                    <form class="addDirectionForm "role='form' action='/add_directions' method='POST'>
                </div>
                <div class="modal-body mbody add_directions">
                    <form role='form' id='myform' class='add_directions' action='/add_directions' method='POST'>
                        <div class="form-group">
                          <input type="hidden" name="pathId" id="pathId" value="{{ path_id }}">
                        </div>
                        <div class="form-group">
                          <input type="hidden" name="routeId" id="routeId" value="{{ route_id }}">
                        </div>
                        <div class="form-group">
                          <label class='labeltext'>Latitude</label>
                          <input type="text" name="latitude" id="latitude" value="">
                        </div>
                        <div class="form-group">
                          <label class='labeltext'>Longitude</label>
                          <input type="text" name="longitude" id="longitude" value="">
                        </div>
                        <input id="clickMe" type="button" value="clickme" onclick="getLocation();" />
                        <div class="form-group">
                            <label class='labeltext'>Take Photo</label>
                            <!-- TEST THIS FEATURE ON MOBILE -->
                            <!-- Take and upload photo from phone camera -->
                            <input id="photo" name="photo" type="file" accept="image/*" capture="camera">
                        </div>
                        <div class="form-group">
                            <label for="directions">Write Directions</label>
                            <textarea class="form-control" id="textDirections" rows="3" name="directions"></textarea>
                        </div>
                        <button id="addDirection" type="submit" class="btn">Add</button>
                    </form>
                </div>
                <div class="modal-footer mfooter">
                    <button type="submit" class="btn cancelbtn pull-left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- directions button -->
    <button type='submit' class="btn" data-toggle="modal" data-target="#myModal">Add directions</button>

    <!-- AJAX request for form submission -->
    <script>
      $(document).ready(function() {
        $('form').on('submit', function(event) {
          $.ajax({
            data: {
              pathId: $('#pathId').val(),
              routeId: $('#routeId').val(),
              latitude: $('#latitude').val(),
              longitude: $('#longitude').val(),
              photo: $('#photo').val(),
              directions: $('textarea#textDirections').val(),
            },
            type: 'POST',
            url: '/add_directions'
          })
        event.preventDefault()
        $('#myModal').modal('hide');
        $('form.addDirectionForm input[type="text"],input[type="file"]').val('');
        $('#textDirections').val('');
        })
      })
    </script>

       <!-- Get User Location -->

    <script>
      // $(document).on(, getLocation());
      var latitude = document.getElementById("latitude");
      var longitude = document.getElementById("longitude");
      function getLocation() {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(formPosition);
            } else {
              alert("Geolocation is not supported by this browser.")
      }
    }
      function formPosition(position) {
          // $('#latitude').val(position.coords.latitude);
          // $('#longitude').val(position.coords.longitude);
          latitude.value = position.coords.latitude;
          longitude.value = position.coords.longitude;
      }
    </script>

    <form action='/finish_route'>
      <button type="submit" class='btn'>Finished</button>
    </form>

  </body>
</html>
{% endblock %}
