{% extends 'base.html' %}
{% block content %}
    <h1>Logged in</h1>
    <form action='/logout'>
        <button type='submit'>Logout</button>
    </form>

    <!-- username -->
    <h2>{{ user_name }}</h2>
    <!-- points/credits, needs backend logic -->
    Credits: {{ credits }}
    <progress value='{{ credits }}' max="100">
    </progress>
    <!-- referral QR code? If time allows. -->
    
    <!-- route filters -->

    <!-- routes -->
    <form>
    {% for route in all_routes %}
        {% if route.route_id in user_routes %}
            {% if route.route_id in completed_routes %}
                <input class="user_route completed" type="image" src=""/>
            {% else %}
                <input class="user_route" type="image" src=""/>
            {% endif %}
        {% else %}
            <input class="locked_route" type="image" src=""/>
        {% endif %}
    {% endfor %}
    </form>
{% endblock %}