{% extends 'base.html' %}

    {% block content %}
    <div id="routes_panel"></div>
    <div class="welcome_message" id="welcome_message_routes" style="text-align:center">
      <h1> Welcome to the tour center</h1>
    </div>
        <div class="tours" id="tour_types" style="text-align:center">
          <h3>Types of Tours</h3>
        </div>
        <div class="col-xs-12">
          <div class="row">
              {% for route in all_routes %}
                    <div class="col-xs-6 col-sm-3">
                      <div class="panel panel-default" style="height: 500px;">
                        <div class="panel-heading">
                          <h1 class="panel-title" style="text-align: center;"> {{ route["route_type"] }} </h1>
                        </div>
                        <div class="panel-body">
                          <div class="profile_picture">
                            <!-- <img src="{{}}" class="img-responsive img-rounded" style="height: 325px;"> -->
                          </div>
                          <div style="text-align:center">
                          <h4> route length = {{ len(route["waypoints"]}} points of interest </h4>
                        </div>
                        <div class="col-xs-6">
                          <form action="/unlock_route" method="POST">
                            <button class="btn btn-default match-button" name="match_profile" type="submit" value="{{len(route[waypoints]}}">
                              Unlock for {{ len(route["waypoints"] }} points.
                            </button>
                          </form>
                        </div>
                        <div class="col-xs-6">
                          <form id="match_confirm" action="/show_matches" method="POST">
                            <button class="btn btn-default match-button" name="user_match" type="submit" value="{{match[2]}}">
                              Confirm Match
                            </button>
                          </form>
                        </div>
                        <div class="col-xs-6">
                          <form action="/show_match_details" method="POST">
                            <button class="btn btn-default match-button" name="match_details" type="submit" value="{{ match[2] }}" style="text-align: center">
                              Match details
                            </button>
                          </form>
                        </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
          </div> <!--end row -->
        </div> <!-- end col -->
          <script>
          $('#match_confirm').one('submit', function() {
            $(this).find('input[name="user_match"]').attr('disabled','disabled');
            });
          </script>
    {% endblock %}
