{% extends 'base.html' %}
{% block content %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  <body>
    <!-- For planning Curated Routes (all waypoints laid out on map) -->
  <div id="map"></div>
    <script>

    $.get("/waypoints.json", function(result) {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: 37.733795, lng: -122.446747},
          });

          let one_point = result[1]
          let myLat = parseFloat(one_point['latitude'])
          let myLong = parseFloat(one_point['longitude'])
          let myLatLng = {lat: myLat, lng: myLong}
          let myLocation = one_point['location']

        // Attempted test marker. Nope.
          // var marker = new google.maps.Marker({
          //     position: myLatLng,
          //     map: map,
          //     title: myLocation
          // });

          // marker.setMap(map);


          for (var i = 1; i < result.length; i++) {
            var point = result[i];
            var latitude = point['latitude']
            var longitude = point['longitude']
            var location = '<h1>' + point['location'] + '</h1>'
            var html_s = location
            // marker windows require a string of html as input
            createMarkers(latitude, longitude, html_s)
          }  //end for loop
      });

      // This function only creates markers. Takes val(an object) as param
      function createMarkers(latitude, longitude, infoWindowHtml) {
        var myLatLng = (parseFloat(latitude), parseFloat(longitude))
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          draggable: true,
        });
        var infowindow = new google.maps.InfoWindow({
          content: infoWindowHtml
        })
        // marker.addListener('click', showInfoWindow );
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }

    </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiTcHmA7ZLsXXnmXfYS0fRb1J6BV9hRa4">
    </script>    
  </body>
</html>
{% endblock %}
