{% extends 'base.html' %}
{% block content %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  <body>
    <h1>ALL WAYPOINTS</h1>
    <!-- For planning Curated Routes (all waypoints laid out on map) -->
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:37.791367, lng:-122.409348},
          zoom: 10
        });

          $.get("/waypoints.json", function(result) {
              for (var i = 0; i < result.length; i ++) {
                let point = result[i]
                let latitude = point['latitude']
                let longitude = point['longitude']
                let location = '<h1>' + point['location'] + '</h1>'
                var html_s = location
                // marker windows require a string of html as input
                createMarkers(latitude, longitude, html_s)
          };
        }
      )};

      function createMarkers(latitude, longitude, infoWindowHtml) {
        var myLatLng = new google.maps.LatLng(latitude, longitude)
        var marker = new google.maps.Marker({
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP,
          position: myLatLng,
          icon:''
        });
        var infowindow = new google.maps.InfoWindow({
          content: infoWindowHtml
        })
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiTcHmA7ZLsXXnmXfYS0fRb1J6BV9hRa4&callback=initMap"
    async defer></script>


  </body>
</html>
{% endblock %}
